@{
    ViewData["Title"] = "Главная страница";
}

<h1 class="main-text">Добро пожаловать</h1>

<p style="font-size:30px; font-family:'Bad Script', 'Arial Narrow', Arial, sans-serif;  text-align:center">Данный сайт предназначен для формирования<br />
    тренировочного процесса и отслеживания <br />
    личных параметров</p>
