@model AddEditExerciseViewModel
@{
    ViewData["Title"] = "Упражнения";
}

<h1>Добавить упражнение</h1>

<form method="post" asp-action="CreateExercise" enctype="multipart/form-data">
    <div>
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="ExerciseDTO.NameExercise">Название упражнения</label>
        <input class="input-crud-data" placeholder="Введите название упражнения..." asp-for="ExerciseDTO.NameExercise" />
        <span asp-validation-for="ExerciseDTO.NameExercise"></span>
    </div>

    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="ExerciseDTO.Description">Описание</label>
            <textarea class="textarea-crud-data" placeholder="Опишите упражнение..." asp-for="ExerciseDTO.Description" rows="10" cols="70"></textarea>
        <span asp-validation-for="ExerciseDTO.Description"></span>
    </div>

    <div class="div-crud-data">
            <label class="label-crud-data" asp-for="ExerciseDTO.TypeOfMuscleID">Тип мышц</label>
        <select class="select-crud-data" asp-for="ExerciseDTO.TypeOfMuscleID" asp-items="Model.TypeOfMysc.MyscList"></select>
        <span asp-validation-for="ExerciseDTO.TypeOfMuscleID"></span>
    </div>


    <div class="div-crud-data">
            <label class="label-crud-data" >Фото 1</label>
        <input class="file-crud-data" type="file" name="uploadedNameImage" />
    </div>

    <div class="div-crud-data">
        <label class="label-crud-data" >Фото 2</label>
            <input  class="file-crud-data" border="none" type="file" name="uploadedNameImage" />
    </div>

    <div class="div-crud-data">
        <label class="label-crud-data" >Фото 3</label>
            <input  class="file-crud-data" type="file" name="uploadedNameImage" />
    </div>



        <input class="btn-crud-data" type="submit" value="Добавить" />

    </div>
</form>