@model AddEditExerciseViewModel

<h1>Добавить упражнение</h1>

<form method="post" asp-action="CreateExercise" enctype="multipart/form-data">
    <div>
        <label asp-for="ExerciseDTO.NameExercise">Название упражнения</label>
        <input asp-for="ExerciseDTO.NameExercise" />
        <span asp-validation-for="ExerciseDTO.NameExercise"></span>
    </div>

    <div>
        <label asp-for="ExerciseDTO.Description">Описание</label>
        <textarea asp-for="ExerciseDTO.Description" rows="3" cols="40"></textarea>
        <span asp-validation-for="ExerciseDTO.Description"></span>
    </div>

    <div>
        <label asp-for="ExerciseDTO.TypeOfMuscleID">Тип мышц</label>
        <select name="type" asp-for="ExerciseDTO.TypeOfMuscleID" asp-items="Model.TypeOfMysc.MyscList"></select>
        @*<input asp-for="TypeOfMuscleID" />*@
        <span asp-validation-for="ExerciseDTO.TypeOfMuscleID"></span>
    </div>


    <div>
        <label asp-for="ExerciseDTO.NameImage1">Фото 1</label>
        <input type="file" name="uploadedNameImage" />
    </div>

    <div>
        <label asp-for="ExerciseDTO.NameImage1">Фото 2</label>
        <input type="file" name="uploadedNameImage" />
    </div>

    <div>
        <label asp-for="ExerciseDTO.NameImage1">Фото 3</label>
        <input type="file" name="uploadedNameImage" />
    </div>


    <div>
        <input type="submit" value="Добавить" />
    </div>

</form>