@using WebTraining.Core.DTO;
@model ExerciseEViewModel
@{
    ViewData["Title"] = "Упражнения";
}

<h2> @Model.Exercise.NameExercise</h2>

<label class="label-view-exercise">Основные мышцы:</label>
<p class="p-view-exercise">@Model.Exercise.TypeOfMuscle.NameType </p>
<label class="label-view-exercise">Описание:</label>
<p class="p-view-exercise">@Model.Exercise.Description</p>


@foreach (var item in Model.Image)
{
    @if (item.NameImage!=null)
    {
        <img width="200" class="exerciseimageview" src="@Url.Content(item.PathImage)" />
    }
}


