@model WebTraining.DB.Models.User

<h2>Ваше имя: @Model.Name </h2> 

<a>Ваш статус: 
    @if (User.IsInRole("coach"))
    {
        <a>Тренер</a>
    }
    @if (User.IsInRole("admin"))
    {
        <a>Админ</a>
    }
    @if (User.IsInRole("athlete"))
    {
        <a>Спортсмен</a>
    }
</a>

<h2>Личные показатели</h2>
<div >
    <a asp-action="WeightViewMeasurements" asp-controller="SingleMeasurements">Вес</a>
    <a asp-action="HeightViewMeasurements" asp-controller="SingleMeasurements" >Рост</a><br/>
    <a asp-action="ViewBitcepsMeasurements" asp-controller="DoubleMeasurements">Битцепс</a>
    <a asp-action="ForearmViewMeasurements" asp-controller="DoubleMeasurements">Предплечье</a>
    <a asp-action="BreastViewMeasurements" asp-controller="SingleMeasurements">Грудь</a>
    <a asp-action="WaistViewMeasurements" asp-controller="SingleMeasurements">Талия</a>
    <a asp-action="ButtocksViewMeasurements" asp-controller="SingleMeasurements">Ягодицы</a>
    <a asp-action="LegsViewMeasurements" asp-controller="DoubleMeasurements">Ноги</a>
    <a asp-action="ShinsViewMeasurements" asp-controller="DoubleMeasurements">Голень</a>
</div>

<h5>Настройки</h5>
<div>
    <a asp-action="ChangePassword" asp-controller="Account" asp-route-id="@Model.Id" >Сменить пароль</a>
    <a asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Id" > Сменить личные данные</a>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>

</div>
