@model WebTraining.DB.Models.User
@{
    ViewData["Title"] = "Профиль";
}
<h2 class="h2-profile">Ваше имя: @Model.Name </h2> 

<i class="p-profile">
    Ваш статус: 
    @if (User.IsInRole("coach"))
    {
        <p class="p-profile">Тренер</p>
    }
    @if (User.IsInRole("admin"))
    {
        <p class="p-profile">Админ</p>
        <form>
            <button class="btn-add" style="margin-left:10px" asp-action="ListUsers">Список пользователей</button>
        </form>
    }
    @if (User.IsInRole("athlete"))
    {
        <p class="p-profile">Спортсмен</p>
    }
</i>

@if (User.IsInRole("admin") | User.IsInRole("athlete"))
{
    <h2 class="h2-profile">Личные показатели</h2>

    <div >
        <a class="button-profile" asp-action="WeightViewMeasurements" asp-controller="SingleMeasurements">Вес</a>
        <a class="button-profile" asp-action="HeightViewMeasurements" asp-controller="SingleMeasurements">Рост</a><br /><br />
        <a class="button-profile" asp-action="ViewBitcepsMeasurements" asp-controller="DoubleMeasurements">Бицепс</a>
        <a class="button-profile" asp-action="ForearmViewMeasurements" asp-controller="DoubleMeasurements">Предплечье</a><br /><br />
        <a class="button-profile" asp-action="BreastViewMeasurements" asp-controller="SingleMeasurements">Грудь</a>
        <a class="button-profile" asp-action="WaistViewMeasurements" asp-controller="SingleMeasurements">Талия</a>
        <a class="button-profile" asp-action="ButtocksViewMeasurements" asp-controller="SingleMeasurements">Ягодицы</a><br /><br />
        <a class="button-profile" asp-action="LegsViewMeasurements" asp-controller="DoubleMeasurements">Ноги</a>
        <a class="button-profile" asp-action="ShinsViewMeasurements" asp-controller="DoubleMeasurements">Голень</a>
    </div><br />
}


<h2 class="h2-profile">Настройки</h2>
<div>
    <a class="a-profile" asp-action="ChangePassword" asp-controller="Account" asp-route-id="@Model.Id" >Сменить пароль</a>
    <a class="a-profile" asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Id"> Сменить личные данные</a>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input class="button margin" type="submit" value="Выход" />
    </form>

</div>
