@model WebTraining.Models.User.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-action="Register" asp-controller="Account">
        <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="label-crud-data" asp-for="Email"></label><br />
        <input class="input-crud-in" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="label-crud-data" asp-for="Name"></label><br />
        <input class="input-crud-in" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="label-crud-data" asp-for="Password"></label><br />
        <input class="input-crud-in" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="label-crud-data" asp-for="PasswordConfirm"></label><br />
        <input class="input-crud-in" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input class="btn-add margin" type="submit" value="Регистрация" />
    </div>

</form>
