@using WebTraining.Models.Measurements;
@model AddDoubleMeasViewModel
@{
    ViewData["Title"] = "Добавление заметки";
}

<h1>Добавить значение</h1>

<form asp-action="Add" method="post">
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="Measurementst.LeftValue">Левое значение</label>
        <input class="input-crud-data-exercise" asp-for="Measurementst.LeftValue" type="text" maxlength="6" />
        <span asp-validation-for="Measurementst.LeftValue"></span>
    </div>
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="Measurementst.RightValue">Правое значение</label>
        <input class="input-crud-data-exercise" asp-for="Measurementst.RightValue" type="text"  maxlength="6"/>
        <span asp-validation-for="Measurementst.RightValue"></span>
    </div>
    <div hidden>
        <label asp-for="Measurementst.Date"></label>
        <input asp-for="Measurementst.Date" type="datetime" />
        <span asp-validation-for="Measurementst.Date"></span>
    </div>
    <div hidden>
        <label asp-for="Measurementst.UserId"></label>
        <input asp-for="Measurementst.UserId" />
        <span asp-validation-for="Measurementst.UserId"></span>
    </div>
    <div hidden>
        <label asp-for="Measurementst.MuscleId"></label>
        <input asp-for="Measurementst.MuscleId" />
        <span asp-validation-for="Measurementst.MuscleId"></span>
    </div>


    <div>
        <input class="btn-add" type="submit" value="Добавить" />
    </div>

</form>
