<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTraining.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid site-header">                
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index" >
                    <img src="~/files/image/siteimage/training.png" height="60px" alt="training.png"/> WebTraining</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark header-text" asp-area="" asp-controller="Exercise" asp-action="Index">Упражнения</a>
                            </li>
                            @if (User.IsInRole("coach") | User.IsInRole("admin"))
                            {
                            <li class="nav-item">
                                    <a class="nav-link text-dark header-text" asp-controller="Training" asp-action="AllTraining">Тренировки</a>
                            </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark header-text" asp-controller="Training" asp-action="Index">Тренировки</a>
                                </li>
                            }
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Notedpad" asp-action="Index">Блокнот</a>
                        }              
                    </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Вход</a>
                            <a asp-controller="Account" asp-action="Register">Регистрация</a>
                        }
                </div>
            </div>
        </nav>
    </header>
    <div style="margin-bottom: 50px" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer  class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebTraining
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
