@model WebTraining.Core.DTO.NotepadDTO

<h1>Добавить запись в блокнот</h1>

<form asp-action="CreateNote" method="post">
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="Description"></label>
        <textarea class="textarea-crud-data" asp-for="Description" rows="25" cols="100"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div hidden>
        <label asp-for="DateNote"></label>
        <input asp-for="DateNote" type="datetime" />
        <span asp-validation-for="DateNote"></span>
    </div>
    <div hidden>
        <label asp-for="UserId">Содержание</label>
        <input asp-for="UserId" />
        <span asp-validation-for="UserId"></span>
    </div>

    <div>
        <input class="btn-crud-data" type="submit" value="Добавить" />
    </div>

</form>
