@model WebTraining.Core.DTO.NotepadDTO
@{
    ViewData["Title"] = "Блокнот";
}
<h1>Редактировать заметки</h1>

<form method="post" asp-action="EditNote">
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="Description"></label>
        <textarea class="textarea-crud-data" asp-for="Description" rows="25" cols="100"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div hidden>
        <input asp-for="UserId" />
        <span asp-validation-for="UserId"></span>
    </div>

    <div>
        <input class="btn-crud-data" type="submit" value="Изменить" />
    </div>
</form>