@model NoteViewModel
@{
    ViewData["Title"] = "Блокнот";
}

<h1>Блокнот</h1>

<table class="table">
    <thead>
        <tr>
            <th><a>Дата</a></th>
            <th>
                <a>Содержание</a>
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model.Exercises)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => note.DateNote)
                </td>
                <td width="20%">

                    <p width="20%">
                        @Html.DisplayFor(item => note.Description)
                    </p>    
                    </td>


                <td>
                    <form method="get" asp-action="EditNote" asp-route-id="@note.ID">
                        <button class="btn-crud-data">Изменить</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-action="DeleteNote" asp-route-id="@note.ID">
                        <button class="btn-crud-data">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="get" asp-action="CreateNote">
    <button class="btn-crud-data">Добавить</button>
</form>
