@model WebTraining.Models.AddEditTrainingExerciseViewModel

<h2>Добавление упражнения</h2>
<form method="post" asp-action="AddExercise" >
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="ExerciseList">Упражнение</label>
        <select class="select-crud-data-exercise" asp-for="TrainingExercises.ExerciseId" asp-items="Model.ExerciseList.Exercises"></select>
        <span asp-validation-for="ExerciseList.Exercises"></span>

        <select hidden asp-for="ExerciseList.Exercises" ></select>
    </div>
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="TrainingExercises.Sets">Сеты</label>
        <input class="input-crud-data-exercise" asp-for="TrainingExercises.Sets" type="number" />
        <span asp-validation-for="TrainingExercises.Sets"></span>
    </div>
    <div class="div-crud-data">
        <label class="label-crud-data"asp-for="TrainingExercises.Repetitions">Повторения</label>
        <input class="input-crud-data-exercise" asp-for="TrainingExercises.Repetitions" type="number" />
        <span asp-validation-for="TrainingExercises.Repetitions"></span>
    </div>

    <div hidden>
        <input asp-for="TrainingExercises.TrainingId" type="number" />
        <span asp-validation-for="TrainingExercises.TrainingId"></span>
    </div>


    <div >
        <input class="btn-crud-data" type="submit" value="Добавить" />
    </div>
</form>