@model WebTraining.Models.AddEditTrainingExerciseViewModel

<h1>Редактировать упражнения</h1>

<form method="post" asp-action="EditExercise">
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="ExerciseList">Упражнение</label>
        <select class="select-crud-data-exercise" asp-for="TrainingExercises.ExerciseId" asp-items="Model.ExerciseList.Exercises"></select>
        <span asp-validation-for="ExerciseList.Exercises"></span>

        <select hidden asp-for="ExerciseList.Exercises" ></select>
    </div>
    <div class="div-crud-data">
        <label class="label-crud-data" asp-for="TrainingExercises.Sets">Сеты</label>
        <input class="input-crud-data-exercise" asp-for="TrainingExercises.Sets" type="number" />
        <span asp-validation-for="TrainingExercises.Sets"></span>
    </div>
    <div class="div-crud-data">
        <label class="label-crud-data"asp-for="TrainingExercises.Repetitions">Повторения</label>
        <input class="input-crud-data-exercise" asp-for="TrainingExercises.Repetitions" type="number" />
        <span asp-validation-for="TrainingExercises.Repetitions"></span>
    </div>

    <div hidden>
        <label asp-for="TrainingExercises.TrainingId">Трненировка</label>
        <input asp-for="TrainingExercises.TrainingId" type="number" />
        <span asp-validation-for="TrainingExercises.TrainingId"></span>
    </div>
    <div hidden>
        <label asp-for="TrainingExercises.ID"></label>
        <input asp-for="TrainingExercises.ID" type="number" />
        <span asp-validation-for="TrainingExercises.ID"></span>
    </div>

    <div>
        <input class="btn-crud-data" type="submit" value="Изменить" />
    </div>
</form>
